<div class="row menu-row">
    <div class="container-fluid">
        <nav class="navbar navbar-default">
            <div class="container-fluid header-flex-wrapper">
                <div style="display:none" class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" style="flex:1" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/<%=sitename%>/admin">Dashboard</a></li>
                        <li><a href="#">General</a></li>
                        <li><a href="#">Users</a></li>
                        <li><a href="/<%=sitename%>/admin/pages">Pages</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Publish</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
                <div>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a><i class="fa fa-2x fa-user-o" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a id="open-menu"><i class="fa fa-2x fa-bars" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
    </div>
</div>