<!doctype html>
<html lang="en">
    <head>
        <% include ./admin-head %>
        <title>Admin | Home</title>
    </head>

    <body>
        <% if(message) { %> <div class="notifyr"><%= message %></div>  <% } %>
        <div id="main-menu" class="slideout-right">
            <div class="slideout-top">
                <i id="close-menu" class="fa chevron-circle-left rotatable" aria-hidden="true"></i>
                <span>Options</span>
            </div>
            <div class="slideout-main" id="slideout-main">
                options here
            </div>
        </div>
        <div class="container-fluid admin-flex-wrapper">
            <% include ./admin-nav %>
            <div class="row admin-main">
                <div class="container">
                    <div>Metrics</div>
                    <div>Nord News</div>
                    <div>Resources</div>
                </div>
            </div>
            <div class="row admin-footer">Admin footer links</div>
        </div>

        <% include ./admin-includes %>
    </body>
    <script src="/static/js/dist/adminDashboard.bundle.js"></script>
</html>