<!doctype html>
<html lang="en">
    <head>
        <% include ./admin-head %>
        <title>Admin | Home</title>
    </head>

    <body>
        <% if(message) { %> <div class="notifyr"><%= message %></div>  <% } %>
        <div class="container-fluid admin-flex-wrapper">
            <% include ./admin-nav %>
            <div class="row admin-main">
                <div class="container">
                    <h1><%= sitename %> Admin panel</h1>
                    <div>Metrics</div>
                    <div>Nord News</div>
                    <div>Resources</div>
                </div>
            </div>
            <div class="row admin-footer">Admin footer links</div>
        </div>
    </body>
    <script src="/static/js/dist/adminDashboard.bundle.js"></script>
</html>