<!doctype html>
<html lang="en">
    <head>
        <% include ./admin-head %>
        <title>Admin Login</title>
    </head>

    <body>
        <div class="login-form--wrapper">
            <% if(message) { %>
                <div style="color:red;"><%= message %></div>
            <% } %>
            <div class="login-form--inner">
                <h1>
                    <!--<img src="../../static/img/ne-logo-medium.gif" alt="Nord Logo" />-->
                    <div>
                        <%= sitename %>
                        <div class="subhead">Admin Access</div>
                    </div>
                </h1>
                
                <form class="login-form" action="/login-adminpost" method="POST">
                    <input type="text" name="username" placeholder="Username" autoFocus />
                    <input type="text" name="password" placeholder="Password" />
                    <div class="login-bottom--wrapper">
                        <button type="submit">
                            Log In
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>