<div class="row">
    <div class="col-xs-12">
        <small>Click 'Edit Basics' to edit the basic info about the page (title, password protection, etc).  Click 'Edit Content' to view the page contents and edit text, pictures, layout, and the menu.</small>
    </div>
</div>