<!doctype html>
<html lang="en">
    <head>
        <meta content="text/html" charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Testing...">
        <meta name="author" content="Nord Enterprises">

        <!--update this with values from db-->
        <meta name="DESCRIPTION" content="Admin panel description">
        <meta name="KEYWORDS" content="Admin panel keywords">

        <title>Admin | Pages</title>

        <!--Global Stylesheets-->
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.minNord.css" />

        <% include ../styles/style-main %>
        <% include ./styles/style-admin %>

        <style type="text/css">
            .page-lnf-bg {
                background: <%= hoa_lookfeel['page_bg_color'] %>;
            }
        </style>

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="container-fluid admin-flex-wrapper">
            <% include ./admin-nav %>
            <div class="row admin-main page-lnf-bg">
                <!--embed lnf and content here-->
                <%- include(main_page_template) %>
            </div>
            <div class="row admin-footer">Admin footer links</div>
        </div>
    </body>
    <% include ./scripts-admin %>
</html>