<!doctype html>
<html lang="en">
    <head>
        <% include ./admin-head %>
        <title>Admin | Pages</title>
    </head>

    <body>
        <div class="container-fluid admin-flex-wrapper">
            <div id="page-list"></div>
        </div>
        <% include ./admin-includes %>
    </body>
    <script src="/static/js/dist/adminPages.bundle.js"></script>
</html>