<div class="content-outer proxy-body">
    <div class="content-inner container-fluid">

        <div class="header-wrapper row">
            <a href="/">
                <div class="logo"></div>
            </a>
            <% include ../header %>
        </div>

        <div class="page-title row">
            <%- title %>
        </div>

        <div class="content-main-flex row">
            <% if(hoa_lookfeel["menu_button_type"] === 'bg_image' || hoa_lookfeel["menu_button_type"] === 'color_tile') { %>
                <div id="menu-wrapper" class="vertical-menu-wrapper">
                    
                        <div class="loading-wrapper">
                            <div class="spinner">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                            <div style="color: #333;">Loading Menu</div>
                        </div>
                    
                </div>
            <% } %>
            <div class="content-main">
                <div class="content" id="page-areas">
                    <div class="loading-wrapper">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                        <div style="color: #333;">Loading Page Areas</div>
                    </div>
                </div>

                <div class="footer-wrapper">
                    <% include ../footer %>
                    <div class="toTopRd" title="Back To Top">&#9650;</div>
                    <div class="notices">Include footer notices here</div>
                </div>
            </div>
        </div>
    </div>
</div>