<div class="vertical-menu-wrapper">
    <% for(var i = 0; i < menuItems.length; i += 1) { %>
        <a class="color_tile" 
            href="<%= menuItems[i]['urlString'] %>" 
            title="<%= menuItems[i]['help_text'] %>"
        >
            <%= menuItems[i]["title"] %>
        </a>
    <% } %>
</div>