<h1>This page is temporarily unavailable</h1>
<h2>It should be up again soon...</h2>
<p>It appears that the server is under a heavy load, the network is turtle slow, or there is some other unfortunate circumstance.  Either way, the page you requested is currently unavailable.  We apologize for the inconvenience- please come back and try us again soon!</p>
<p>If you see this notice repeatedly, please contact us at custcare-director@nordenterprises.com and we will get our development gnomes working on it right away!</p>
<p>You're currently visiting the <%=full_name%> website...</p>