<div class="footer">
<%- hoa_main_aux["gc_footer"] %>
<% if(hoa_main["display_search"] === "y" && hoa_main["search_position"] == "bottom") { %>
    <div title="Search the Site" class="search-icon glyphicon glyphicon-search" data-toggle="modal" data-target="#searchModal"></div>
<% } %>
</div>