<div class="header">
<% if(hoa_lookfeel['header_source'] === "graphic") { %>
    <div class="headerImage">HEADER IMAGE</div>
<% } else if(hoa_lookfeel["header_source"] == "text") { %>
    <div class="header-title" style="font-weight: bold;">
        <%=hoa_lookfeel["header_text"]%>
    </div>
<% }
if(hoa_main["display_search"] === "y") {
    if(hoa_main["search_position"] == "top") { %>
        <div title="Search the Site" class="search-icon glyphicon glyphicon-search" data-toggle="modal" data-target="#searchModal"></div>
    <% } else if(hoa_main["search_position"] === "left" && hoa_lookfeel["nav_orientation"] === "h") { %>
        <div title='Search the Site' class='search-icon glyphicon glyphicon-search' data-toggle='modal' data-target='#searchModal'></div>
    <% }
} %>
</div>