<!doctype html>
<html lang="en">
    <head>
        <meta content="text/html" charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Testing...">
        <meta name="author" content="Nord Enterprises">

        <title>Admin Login</title>

        <!--Global Stylesheets-->
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.minNord.css" />

        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

        <% include ./styles/style-admin %>

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="login-form--wrapper">
            <% if(message) { %>
                <div style="color:red;"><%= message %></div>
            <% } %>
            <div class="login-form--inner">
                <h1>
                    <!--<img src="../../static/img/ne-logo-medium.gif" alt="Nord Logo" />-->
                    <div>
                        <%= sitename %>
                        <div class="subhead">Admin Access</div>
                    </div>
                </h1>
                
                <form class="login-form" action="/login-adminpost" method="POST">
                    <input type="text" name="username" placeholder="Username" autoFocus />
                    <input type="text" name="password" placeholder="Password" />
                    <div class="login-bottom--wrapper">
                        <button type="submit">
                            Log In
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>